{% extends "clouderp/base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}


	
    <aside class="main-sidebar">
    {% block main-sidebar %}
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <div class="user-panel">
        <div class="pull-left image">
                {% if user.profile.image %}
                  <img class="img-circle" src="{{ user.profile.image.url }}/" alt="User profile picture">
                {% else %}
                    <img class="img-circle" src="{% static 'userprofile/download (1).jpg' %}">
                {% endif %}
          
        </div>
        <div class="pull-left info">
          <p>{{ user.profile.Full_Name }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    
      <!-- Sidebar user panel -->
     
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
       <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
      <!--   <li><a href="{% url 'company:Dashboard' 1 %}"><i class="fa fa-book"></i> <span>Dashboard</span></a></li>
         -->

        <li><a href="{% url 'company:list' %}"><i class="fa fa-book"></i> <span>Dashboard</span></a></li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Entry & Posting</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            

            
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Groups
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">

                <li><a href="{% url 'accounting_double_entry:groupcreate' pk=company_details.pk %}"><i class="fa fa-circle-o"></i> Create</a></li>
                
                <li><a href="{% url 'accounting_double_entry:grouplist' pk=company_details.pk %}"><i class="fa fa-circle-o"></i> Display</a></li>
                
                   
              </ul>
            </li>
            
            
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Journal
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
               
                 <li><a href="{% url 'accounting_double_entry:create' pk=company_details.pk %}"><i class="fa fa-circle-o"></i> Create</a></li>
                   <li><a href="{% url 'accounting_double_entry:list' pk=company_details.pk %}"><i class="fa fa-circle-o"></i> Display</a></li>
                 
                   
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Ledgers
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'accounting_double_entry:ledgercreate' pk=company_details.pk %}"><i class="fa fa-circle-o"></i> Create</a></li>
                
                <li><a href="{% url 'accounting_double_entry:ledgerlist' pk=company_details.pk %}"><i class="fa fa-circle-o"></i> Display</a></li>
                  <!-- <li><a href="#"><i class="fa fa-circle-o"></i> Alter</a></li> -->
                   
              </ul>
            </li>
          </ul>
        </li>

         <li><a href="trial_bal.html"><i class="fa fa-book"></i> <span>Trial Balance</span></a></li>

           <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Balance Sheet</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="Balance_Sheet_Overview.html"><i class="fa fa-circle-o"></i> Balance Sheet Overview</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Balance Sheet Schedule III</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Profit & Loss</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="P&L.html"><i class="fa fa-circle-o"></i> Profit & Loss Overview</a></li>
            <li><a href="P&L1.html"><i class="fa fa-circle-o"></i> Profit & Loss Schedule III</a></li>
            </ul>
            </li>


        <li class="treeview">
          <a href="#">
              <i class="fa fa-pie-chart"></i>
            <span>Invoicing</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="Sales_Invoice.html"><i class="fa fa-circle-o"></i> Sales Invoice</a></li>
            <li><a href="Purchase_Invoice.html"><i class="fa fa-circle-o"></i> Purchase Invoice</a></li>
          </ul>
        </li>

            
        <li class="treeview">
              <a href="#">
              <i class="fa fa-table"></i> <span>Stock Sheet</span>
              <span class="pull-right-container">
               <i class="fa fa-angle-left pull-right"></i>
              </span>
              </a>
          <ul class="treeview-menu">
            <li><a href="Balance_Sheet_Overview.html"><i class="fa fa-circle-o"></i>Create</a></li>
            <li><a href="Stock_Sheet.html"><i class="fa fa-circle-o"></i>Display</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Alter</a></li>
          </ul>
        </li>

          <li class="treeview">
            <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Cash & Bank Balance</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li><a href="pages/tables/Sales_Invoice.html"><i class="fa fa-circle-o"></i> Cash Account</a></li>
            <li><a href="pages/tables/Purchase_Invoice.html"><i class="fa fa-circle-o"></i> Bank Account</a></li>
            </ul>
          </li>

            <li class="treeview">

            <a href="#">
            <i class="fa fa-book"></i> 
            <span>Tax Analysis</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>

            </a>
                <ul class="treeview-menu">
                <li><a href="pages/tables/Sales_Invoice.html"><i class="fa fa-circle-o"></i> GST reports</a></li>
                <li><a href="pages/tables/Purchase_Invoice.html"><i class="fa fa-circle-o"></i> Income Tax Reports</a></li>
                </ul>

            </li>
            <li><a href="index3.html"><i class="fa fa-book"></i> <span>Create Voucher</span></a></li>

            
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Display</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Day Book</a></li>
            <li><a href="Sales_Register.html"><i class="fa fa-circle-o"></i> Sales Register</a></li>
            <li><a href="Purchase_Register.html"><i class="fa fa-circle-o"></i> Purchase Register</a></li>
            <li><a href="pages/tables/Simple1.html"><i class="fa fa-circle-o"></i>Journal Register</a></li>
            <li><a href="pages/tables/Simple1.html"><i class="fa fa-circle-o"></i> Cash/Funds Flow</a></li>
            <li><a href="pages/tables/Simple1.html"><i class="fa fa-circle-o"></i> Receipts And Payments</a></li>
          </ul>
        </li>
        
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Chatbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        
        
        <li><a href="{% url 'userprofile:profiledetail' %}"><i class="fa fa-book"></i> <span>Profile Settings</span></a></li>

        <li class="header">PLUGINS</li>
        <li><a href="{% url 'blog:allbloglist' %}"><i class="fa fa-circle-o text-red"></i> <span>Read Blogs & Articles</span></a></li>
        <li><a href="{% url 'consultancy:consultancylist' %}"><i class="fa fa-circle-o text-red"></i> <span>Consultancy Forum</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Subscribe Newsletter</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Bills to Scanner App</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Automated Return Filing</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Find Professional</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>E-Commerce Integration</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Investing - Trading & MFs</span></a></li>
      </ul>
      
    </section>
    <!-- /.sidebar -->
    {% endblock %}
  </aside>		
			
			
{% block content %}
<div class="content-wrapper">
	<!-- <div class="container"> -->
		<section class="content-header">
			<!-- <div class="col-md-12"> -->
				<h1>
					<strong>Selected Company : {{company_details.Name}}</strong>
				</h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Company list</a></li>
        <li class="active">Selected Company</li>
      </ol>
			<!-- </div> -->
		</section>

		<!-- <div class="container">
    		<p><a class='btn btn-warning' >Update</a></p>

  		</div>
  		<br>
  		<div class="container">
    		<p><a class='btn btn-danger' >Delete</a></p>

  		</div> -->
  
      <section class="content">
      <div class="callout callout-info">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="box box-default">
            <!-- <div class="box-header with-border">
              <h3 class="box-title">Modal Examples</h3>
            </div> -->
            <div class="box-body">
              <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                Change Company
              </button>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
                Edit Company details
              </button> -->
              <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
                Launch Info Modal
              </button> -->
              <a href="{% url 'company:list' %}" class="btn btn-success" role="button">Select Company </a>
              <a href="{% url 'company:update' pk=company_details.pk %}" class="btn btn-warning" role="button">Update Company details</a>
              <a href="{% url 'company:delete' pk=company_details.pk %}" class="btn btn-danger" role="button">Delete Company</a>
              <!-- <button type="button" class="btn btn-warning" href="{% url 'company:update' pk=company_details.pk %}" >
                Update Company details
              </button> -->
              <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger" href="{% url 'company:delete' pk=company_details.pk %}">
                Delete Company
              </button> -->
              
              
            </div>
          </div>
        </div>
      </div>


	<!-- here is the personal statistics part		 -->
  <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>
              <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
              <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
              <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->
 
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">To Do List</h3>

                {% if is_paginated %}
                    <ul class="pagination">
                       {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                          <li class="disabled"><span>Previous</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                               <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="disabled"><span>Next</span></li>
                        {% endif %}
                    </ul>
                {% endif %}

              


            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->



            {% if todo_list %}
                  <ul class="todo-list">
                  {% for todo in todo_list %}

                            <li>
                              <!-- drag handle -->
                              <span class="handle">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                              </span>
                              <!-- checkbox -->
                              
                              <!-- todo text -->
                              {% if todo.complete %}
                                <i class="fa fa-check"></i>
                                <span class="text todo-completed">Done</span>
                                 <span class="text todo-completed"></span>
                                <span class="text todo-completed">{{todo.text}}</span>
                              {% else %}
                                <i class="fa fa-times"></i>
                                <span class="text todo-completed">Not Done</span>
                                <a href="{% url 'todogst:complete' todo.id %}"><span class="text">{{todo.text}}</span></a>
                              {% endif %}
                              <!-- Emphasis label -->
                              <small class="label label-danger"><i class="fa fa-clock-o"></i>{{ todo.Date|timesince }} ago</small>
                              <!-- General tools such as edit or delete-->
                              
                            </li>
                  {% endfor %}   
                    
                  </ul>
            {% else %}

                  <span class="alert alert-danger">
                        No Todo Created 

                  </span> 
            {% endif %}
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <a href="{% url 'todogst:index' %}"><button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button></a>

              
            </div>
          </div> 

</section>
            <!-- timeline -->
<!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

        <!-- solid sales graph -->
          <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
              <i class="fa fa-th"></i>

              <h3 class="box-title">Profits Graph</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body border-radius-none">
              <div class="chart" id="line-chart" style="height: 250px;"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-border">
              <div class="row">
                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                  <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                         data-fgColor="#39CCCC">

                  <div class="knob-label">Mail-Orders</div>
                </div>
                <!-- ./col -->
                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                  <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                         data-fgColor="#39CCCC">

                  <div class="knob-label">Online</div>
                </div>
                <!-- ./col -->
                <div class="col-xs-4 text-center">
                  <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                         data-fgColor="#39CCCC">

                  <div class="knob-label">In-Store</div>
                </div>
                <!-- ./col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->

          <!-- Calendar -->
          <div class="box box-solid bg-green-gradient">
            <div class="box-header">
              <i class="fa fa-calendar"></i>

              <h3 class="box-title">Calendar</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars"></i></button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Add new event</a></li>
                    <li><a href="#">Clear events</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View calendar</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <!--The calendar -->
              <div id="calendar" style="width: 100%"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-black">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Progress bars -->
                  <div class="clearfix">
                    <span class="pull-left">Task #1</span>
                    <small class="pull-right">90%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                  </div>

                  <div class="clearfix">
                    <span class="pull-left">Task #2</span>
                    <small class="pull-right">70%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                  <div class="clearfix">
                    <span class="pull-left">Task #3</span>
                    <small class="pull-right">60%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                  </div>

                  <div class="clearfix">
                    <span class="pull-left">Task #4</span>
                    <small class="pull-right">40%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->




	<div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    10 Feb. 2018
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                <div class="timeline-body">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                  quora plaxo ideeli hulu weebly balihoo...
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">Read more</a>
                  <a class="btn btn-danger btn-xs">Delete</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-user bg-aqua"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-comments bg-yellow"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                <div class="timeline-body">
                  Take me to your leader!
                  Switzerland is small and neutral!
                  We are more like Germany, ambitious and misunderstood!
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-green">
                    3 Jan. 2018
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-camera bg-purple"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                <div class="timeline-body">
                  <img src="http://placehold.it/150x100" alt="..." class="margin">
                  <img src="http://placehold.it/150x100" alt="..." class="margin">
                  <img src="http://placehold.it/150x100" alt="..." class="margin">
                  <img src="http://placehold.it/150x100" alt="..." class="margin">
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-video-camera bg-maroon"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>

                <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>

                <div class="timeline-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OjwcrgZNbEo" allow="autoplay; encrypted-media" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="timeline-footer">
                  <a href="#" class="btn btn-xs bg-maroon">See comments</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div>
        <!-- /.col -->
      </div>


</section>		

<!-- /.content-wrapper -->

{% endblock %}
			
	
	

