{% extends "clouderp/base_2.html" %}

{% load staticfiles %}

{% block title %}
    
    Delete Question
   
{% endblock %}



{% block content %}
<div class="content-wrapper">
<!-- <div class="container"> -->
			<section class="content-header">
				<!-- <div class="col-md-12 col-md-offset-4"> -->
					<h1>
						<strong>Delete Questions</strong>
					</h1>
								<ol class="breadcrumb">
			       					 <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			       					 <!-- <li><a href="#">Company list</a></li> -->
			     				   <li class="active">Company list</li>
			      </ol>
				<!-- </div> -->
			</section>

<section class="content">
      <div class="callout callout-info">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>


<div class="row">
  <h1>
    <strong>Delete {{ consultancy.Questions }}?</strong>
  </h1>
</div>

<form method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-danger" value="Delete">
  <a href="{% url 'consultancy:consultancydetail' pk=consultancy.pk %}">Cancel</a>

</form>
								

</section>

</div>


{% endblock %}
