{% extends "clouderp/base.html" %}
{% load staticfiles %}

{% block title%}Consultancy Forum{% endblock %}


 {% block main-sidebar %}
 <section class="sidebar">
    
      <!-- Sidebar user panel -->
     
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
       <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        
      <!--   <li><a href="{% url 'company:Dashboard' 1 %}"><i class="fa fa-book"></i> <span>Dashboard</span></a></li>
         -->

        <li><a href="{% url 'company:list' %}"><i class="fa fa-book"></i> <span>Dashboard</span></a></li>

        
        
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Chatbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        
        
        <li><a href="{% url 'userprofile:profiledetail' %}"><i class="fa fa-book"></i> <span>Profile Settings</span></a></li>

        <li class="header">PLUGINS</li>
        <li><a href="{% url 'blog:allbloglist' %}"><i class="fa fa-circle-o text-red"></i> <span>Read Blogs & Articles</span></a></li>
        <li><a href="{% url 'consultancy:consultancylist' %}"><i class="fa fa-circle-o text-red"></i> <span>Consultancy Forum</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Bills to Scanner App</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Automated Return Filing</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Find Professional</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>E-Commerce Integration</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Investing - Trading & MFs</span></a></li>
      </ul>
      
    </section>

 {% endblock %}

 



{% block content %}
<div class="content-wrapper">
<!-- <div class="container"> -->
			<section class="content-header">
				<!-- <div class="col-md-12 col-md-offset-4"> -->
					<h1>
						<strong>Consultancy Forum</strong>
					</h1>
								<ol class="breadcrumb">
			       					 <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			       					 <!-- <li><a href="#">Company list</a></li> -->
			     				   <li class="active">Company list</li>
			      </ol>
				<!-- </div> -->
			</section>

<section class="content">
      <div class="callout callout-info">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>

<div class="row">
      <div class="col-xs-12">
          <div class="box box-default">
          <div class="box-body">

            

            <a href="{% url 'consultancy:consultancylist' %}" class="btn btn-success" role="button">Show Queries</a>


            
                  
          <div class='pull-right'>
            <a href="{% url 'consultancy:myquestions' %}" class="btn btn-info" role="button">Show my Queries</a>
            <a href="{% url 'consultancy:consultancycreate' %}" class="btn btn-warning" role="button">Ask Query</a>
              

          </div>
        
        
        
        </div>
      
      </div>
    
    </div>

</div>

<div class="row">
  <div class="col-md-9">
    <ul class="timeline">
      

      {% for consultancy in consultancy_list %}
            <li class="time-label">
                <span class="bg-red">
                    {{ consultancy.Date|date }}
                </span>
            </li>

            <li>
              <i class="fa fa-envelope bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{ consultancy.Date|timesince }}</span>

                {% if consultancy.User.user.profile.image %}
                    <img class="img-circle img-sm" src="{{ consultancy.User.oser.profile.image.url }}/" alt="">
                {% else %}
                    <img class="img-circle img-sm" src="{% static 'userprofile/download (1).jpg' %}">
                {% endif %}

                <h3 class="timeline-header"><a href="#">{{ consultancy.User }}</a></h3>

                <div class="timeline-body">
                 {{ consultancy.Questions }}
                </div>
                <div class="timeline-footer">
                  <a href="{{ consultancy.id }}" class="btn btn-primary btn-sm">See Solutions</a>
                  
                </div>
              </div>
            </li>
      {% endfor %}
    </ul>
  </div>

                    <div class="text-center">
                  {% if is_paginated %}
                      <ul class="pagination">
                       {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                               <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                  {% endif %}
                  </div>

        <div class="col-md-3">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-aqua-active"">
              <h3 class="widget-user-username">Search</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form method='GET' class="form-horizontal" action="{% url 'blog:search' %}">
              <div class="box-body">
                <div class="form-group">
                  

                  <div class="col-sm-12">
                    <input  class="form-control" name="q" value="{{request.GET.q}}" placeholder="Search">
                  </div>
                </div>
                
                
              </div>
              
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Go</button>
                
              </div>
             
            </form>
        </div>

        <br>

            <div class="box box-widget widget-user-2">
                <div class="widget-user-header bg-aqua-active">
                    <h5 class="widget-user-username">Category</h5>
                </div>
                 <div class="box-footer no-padding">
                      {% for categories in categories_list %}

                          <ul class="nav nav-stacked">
                                
                              
                                
                                  <li><a href="../categorylist/{{ categories.id }}">{{ categories.Title }} <span class="pull-right badge bg-blue">{{ blog_count }}</span></a></li>
                                 
                             
                                  
                                
                          </ul>
                      {% endfor %}
              </div>

                <div class="box-footer no-padding">
                      {% for categories in categories_l %}

                          <ul class="nav nav-stacked">
                                
                              
                                
                                  <li><a href="../categorylist/{{ categories.id }}">{{ categories.Title }} <span class="pull-right badge bg-blue">{{ blog_count }}</span></a></li>
                                 
                             
                                  
                                
                          </ul>
                      {% endfor %}
              </div>


            </div>

          </div>


</div>


								

</section>

</div>


{% endblock %}
