{% extends "clouderp/base.html" %}


{% block title %}Delete Ledger{% endblock %}

{% block content %}

<div class="content-wrapper">
	<div class="container">
		<section class="content-header">
			<div class="col-md-12">
			<h1>
			<strong>Delete {{ledger1.name }}?</strong>
			</h1>
			</div>
		</section>

<form method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-danger" value="Delete">
  <a href="{% url 'accounting_double_entry:ledgerdetail' pk2=ledger1.pk pk1=company_details.pk pk3=selectdatefield_details.pk %}">Cancel</a>

</form>
	</div>
</div>

{% endblock %}
