{% extends "clouderp/base.html" %}


{% block title %}Ledgers{% endblock %}


{% block content %}
<div class="content-wrapper">
<!-- <div class="container"> -->
			<section class="content-header">
				<!-- <div class="col-md-12 col-md-offset-4"> -->
					<h1>
            		<strong>Company : {{company_details.Name}}</strong>
					</h1>
								<ol class="breadcrumb">
			       					 <li><a href="#"><i class="fa fa-dashboard"></i> Company Details</a></li>
			       					 <!-- <li><a href="#">Company list</a></li> -->
			     				   <li class="active">Ledger List</li>
			      </ol>
				<!-- </div> -->
			</section>

<section class="content">
      <div class="callout callout-warning">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>

<div class="row">
			<div class="col-xs-12">
          <div class="box box-default">
					<div class="box-body">

			<a href="{% url 'company:list' %}" class="btn btn-success" role="button">Select Company </a>
              <a href="{% url 'company:create' %}" class="btn btn-warning" role="button">Create Company details</a>
              <a href="#" class="btn btn-danger" role="button">Delete Company</a>

				
				
				
				</div>
			
			</div>
		
		</div>

</div>


<div class="row">
      <div class="col-xs-12">
          <div class="box box-default">
          <div class="box-body">

            <a href="{% url 'accounting_double_entry:ledgerlist' %}" class="btn btn-success" role="button">Select Ledger </a>
                <a href="{% url 'accounting_double_entry:ledgercreate' %}" class="btn btn-warning" role="button">Create Ledger</a>
              

        
        
        
        </div>
      
      </div>
    
    </div>

</div>


								
<div class="row">
        <div class="col-xs-12">
        {% if ledger1_list %}
                <div class="box box-info">
                  <div class="box-header">
                    <h3 class="box-title">Ledger list details</h3>

                    <div class="box-tools">
                      <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">

                      <tr>
                        <th>Sl no</th>
                        <th>Name</th>
                        <th>Date Created</th>
                      </tr>

                      {% for ledger1 in ledger1_list %}
                      <tr>
                        <td><a href="{{ledger1.id}}">{{ledger1.id}}</a></td>
                        <td><a href="{{ledger1.id}}">{{ledger1.name}}</a></td>
                        <td><a href="{{ledger1.id}}">{{ledger1.Creation_Date}}</a></td>
                      </tr>
                      {% endfor %}
                     
                     
                    </table>
                  </div>
                 
                </div>
        {% else %}
            <span class="alert alert-danger">
                    No ledger found 

            </span>
        {% endif %}
                
        </div>

      </div>
</section>


{% endblock %}
