{% extends "clouderp/base.html" %}
{% load staticfiles %}

{% block title%}Todo List{% endblock %}


 {% block main-sidebar %}
 <section class="sidebar">

        <div class="user-panel">
        <div class="pull-left image">
                {% if user.profile.image %}
                  <img class="img-circle" src="{{ user.profile.image.url }}/" alt="User profile picture">
                {% else %}
                    <img class="img-circle" src="{% static 'userprofile/download (1).jpg' %}">
                {% endif %}
          
        </div>
        <div class="pull-left info">
          <p>{{ user.profile.Full_Name }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    
      <!-- Sidebar user panel -->
     
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
       <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        
      <!--   <li><a href="{% url 'company:Dashboard' 1 %}"><i class="fa fa-book"></i> <span>Dashboard</span></a></li>
         -->

        <li><a href="{% url 'company:list' %}"><i class="fa fa-book"></i> <span>Dashboard</span></a></li>

        
        
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Chatbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        
        
        <li><a href="{% url 'userprofile:profiledetail' %}"><i class="fa fa-book"></i> <span>Profile Settings</span></a></li>

        <li class="header">PLUGINS</li>
        <li><a href="{% url 'blog:allbloglist' %}"><i class="fa fa-circle-o text-red"></i> <span>Read Blogs & Articles</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Subscribe Newsletter</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Bills to Scanner App</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Automated Return Filing</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Find Professional</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>E-Commerce Integration</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Investing - Trading & MFs</span></a></li>
      </ul>
      
    </section>

 {% endblock %}


 {% block content %}
<div class="content-wrapper">
<!-- <div class="container"> -->
      <section class="content-header">
        <!-- <div class="col-md-12 col-md-offset-4"> -->
          <h1>
            <strong>Todo List</strong>
          </h1>
                <ol class="breadcrumb">
                       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                       <!-- <li><a href="#">Company list</a></li> -->
                     <li class="active">Company list</li>
                     <li class="active">Dashboard</li>
                     <li class="active">Todo list</li>
            </ol>
        <!-- </div> -->
      </section>

<section class="content">
      <div class="callout callout-info">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>

<div class="row">
      <div class="col-xs-12">
          <div class="box box-default">
          <div class="box-body">

      <a href="{% url 'company:list' %}" class="btn btn-success" role="button">Select Company </a>
              <a href="{% url 'company:create' %}" class="btn btn-warning" role="button">Create Company details</a>
              <a href="#" class="btn btn-danger" role="button">Delete Company</a>

        
        
        
        </div>
      
      </div>
    
    </div>

</div>



  <div class="box box-info"> 
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="box-header with-border">
              <h2>WHAT DO YOU WANT TO DO TODAY?</h2>
          
          <form action="{% url 'todogst:add' %}" method="POST" class="form-horizontal">
            {% csrf_token %}


            <div class="form-group">
                 

                  <div class="col-sm-8">
                     {{ form.text }}
                  </div>

                     <button type="submit" class="btn btn-info col-sm-2" value="Submit">Add</button>
                </div>
            
          </form>

          <div class="row t10">
            <div class="col-lg-12">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a href="{% url 'todogst:deletecomplete' %}"><button type="button" class="btn btn-warning">
                    <i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED
                  </button></a>
                </div>
                <div class="btn-group">
                  <a href="{% url 'todogst:deleteall' %}"><button type="button" class="btn btn-warning">
                    <i class="glyphicon glyphicon-trash"></i> DELETE ALL
                  </button></a>
                </div>
              </div>
            </div>
          </div>
         
          </div>
          
            <div class="box-body table-responsive no-padding">
              <table class="table table-striped">
                <tr>
                  <th><h3><center></center></h3></th>
                  <th><h3><center>Creation Date</center></h3></th>
                  <th><h3><center>TODO LIST<br>(Just Click on the todo if it is completed)</center></h3></th>
                  <th><h3><center>Status</center></h3></th>
                  <th><h3><center>Time Elapsed</center></h3></th>
                </tr>
                {% for todo in todo_list %}
                  {% if todo.complete %}
                    <tr>
                      <td><center><h4><i class="fa fa-check"></i></h4></center></td>
                      <td><center><h4>{{ todo.Date }}</h4></center></td>
                      <th><center><h4>{{ todo.text }}</h4></center></th>
                      <td><center><h4>Completed</h4></center></td>
                      <td><center><h4>{{ todo.Date|timesince }} ago</h4></center></td>
                    </tr>

                  {% else %}
                    <tr>
                      <td><center><h4><i class="fa fa-times"></i></h4></center></td>
                      <td><center><h4>{{ todo.Date }}</h4></center></td>
                       <th><center><h4><a href="{% url 'todogst:complete' todo.id %}">{{ todo.text }}</a></h4></center></th>
                      <td><center><h4>Not Completed</h4></center></td>
                      <td><center><h4>{{ todo.Date|timesince }} ago</h4></center></td>
                    </tr>
                     
                  {% endif %}
                  
              {% endfor %}
              </table>
            </div>

             <div class="box-footer">
                
                <ul class="pagination">
                  {% if posts.has_previous %}
                      <li class="page-item">
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                      </li>
                  {% endif %}
                  {% for p in posts.paginator.page_range %}
                      {% if posts.number == p %}
                          <li class="page-item active">
                            <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                          </li>
                      {% else %}
                          <li class="page-item">
                                <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                          </li>
                      {% endif %}
                  {% endfor %}

                  {% if posts.has_next %}
                      <li class="page-item">
                        <a href="?page={{ posts.next_page_number }}" class="page-link">Next</a>
                      </li>
                  {% endif %}
                </ul>
                  




          
              </div>
      </div>
    </div>

</section>

</div>


{% endblock %}

