<!-- Date range -->
<form method='GET' action='{% url "search:query" %}' >
  <div class="form-group">
    <label>Date range:</label>

    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      
      <input type="text" class="form-control pull-right" placeholder="starting date"  id="datepicker" value='{{ request.GET.sd }}'>
      <input type="text" class="form-control pull-right" placeholder="ending date" id="datepicker" value='{{ request.GET.ed }}'>
    </div>

    <span class='input-group-btn'>
        <button class="btn btn-outline-success" type="submit">Set Period</button>
    </span>
    <!-- /.input group -->
  </div>
  <!-- /.form group -->
  </form>