{% extends "clouderp/base.html" %}


{% block title %}Groups{% endblock %}


{% block content %}
<div class="content-wrapper">
<!-- <div class="container"> -->
			<section class="content-header">
				<!-- <div class="col-md-12 col-md-offset-4"> -->
					<h1>
            		<strong>Company : {{company_details.Name}}</strong>
					</h1>
								<ol class="breadcrumb">
			       					 <li><a href="#"><i class="fa fa-dashboard"></i> Company Details</a></li>
			       					 <!-- <li><a href="#">Company list</a></li> -->
			     				   <li class="active">Group List</li>
			      </ol>
				<!-- </div> -->
			</section>

<section class="content">
      <div class="callout callout-warning">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>

<div class="row">
			<div class="col-xs-12">
          <div class="box box-default">
					<div class="box-body">

			<a href="{% url 'company:list' %}" class="btn btn-success" role="button">Select Company </a>
              <a href="{% url 'company:create' %}" class="btn btn-warning" role="button">Create Company details</a>
              <a href="#" class="btn btn-danger" role="button">Delete Company</a>

				
				
				
				</div>
			
			</div>
		
		</div>

</div>



								
<div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Group list details</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="box-body table-responsive no-padding">
               <table id="example2" class="table table-bordered table-hover">

                <tr>
                  <th>Sl no</th>
                  <th>Group Name</th>
                  <th>Category</th>
                  <th>Balance Nature</th>
                  
                </tr>

                {% for group1 in group1_list %}
                <tr>
                  <td><a href="{{group1.id}}">{{group1.id}}</a></td>
                  <td><a href="{{group1.id}}">{{group1.group_Name}}</a></td>
                  <td><a href="{{group1.id}}">{{group1.Master}}</a></td>
                  <td><a href="{{group1.id}}">{{group1.balance_nature}}</a></td>
                </tr>
                {% endfor %}

              </div>
            </table>

                <div class="box-footer">


                  {% if is_paginated %}
                    <ul class="pagination pull-right">
                      {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                      {% else %}
                        <li class="disabled"><span>Previous</span></li>
                      {% endif %}
                      {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                      {% else %}
                        <li class="disabled"><span>Next</span></li>
                      {% endif %}
                    </ul>
                  {% endif %}
                </div>
               

              <!--  ############## https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html############### -->
               
              
            
           
          </div>
          
        </div>

      </div>
</section>


{% endblock %}
