{% extends "clouderp/base.html" %}


{% block title %}Journals{% endblock %}

{% block content %}
<div class="content-wrapper">
<section class="content-header">
				<!-- <div class="col-md-12 col-md-offset-4"> -->
					<h1>
            		<strong>Company : {{company_details.Name}}</strong>
					</h1>
								<ol class="breadcrumb">
			       					 <li><a href="#"><i class="fa fa-dashboard"></i> Company Details</a></li>
			       					 <!-- <li><a href="#">Company list</a></li> -->
			     				   <li class="active">Journal List</li>
			      </ol>
				<!-- </div> -->
			</section>

<section class="content">
      <div class="callout callout-warning">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>

<div class="row">
			<div class="col-xs-12">
          <div class="box box-default">
					<div class="box-body">

			<a href="{% url 'company:list' %}" class="btn btn-success" role="button">Select Company </a>
              <a href="{% url 'company:create' %}" class="btn btn-warning" role="button">Create Company details</a>
              <a href="#" class="btn btn-danger" role="button">Delete Company</a>

				
				
				
				</div>
			
			</div>
		
		</div>

</div>

	


		<div class="row">

			<div class="col-xs-12">

          <div class="box box-default">
          <div class="box-body">
              	
           <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Select journal</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>
              </div>

              <div class="col-md-6">
              <div class="form-group">
                <label>Date range:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="reservation">
                </div>
                <!-- /.input group -->
              </div>
           </div>


		        <!-- <a href="#" class="btn btn-success" role="button">Select ledger </a> -->
		       
       </div>
      </div>
      </div>
    
    </div>





			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	
				<div class="box box-info">
				{% if journal_list %}

				 <div class="box-header">
              <h3 class="box-title">Journal list details</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>

					<table class="table table-bordered">
						<tr>
							<td>
								<table class="table table-hover">
									<tr>
										<th><center>Date</center></th>
										<th><center>Particulars</center></th>
										<th></th>
										<th><center>Voucher Type</center></th>
										<th><center>Voucher No</center></th>
										<th><center>Debit Amount</center></th>
										<th><center>Credit Amount</center></th>
									</tr>
									{% for journal in journal_list %}
										<tr>
										
												<td><center><a href="{{ journal.id }}">{{journal.Date}}</a></center></td>
												<td><center><a href="{{ journal.id }}">{{journal.By}}</a></center></td>
												<td><center></center></td>
												<td><center>Journal</center></td>
												<td><center><a href="{{ journal.id }}">{{journal.id}}</a></center></td>
												<td><center><a href="{{ journal.id }}">{{journal.Debit}}</a></center></td>
												<td><center><a href="{{ journal.id }}">{{journal.Credit}}</a></center></td>
										
										</tr>
									{% endfor %}
								</table>
							</td>
						</tr>
					</table>
				{% else %}
					<span class="alert alert-danger">
                    No journal found 

  	                </span>
				{% endif %}    
				</div>
			</div>
		</div>			

	</div>
</div>
 {% endblock %}