{% extends "clouderp/base.html" %}
{% load my_filters %}
{% load mathfilters %}


{% block title %}Ledgers Display{% endblock %}

{% block content %}

<div class="content-wrapper">
	 <section class="content-header">
        <!-- <div class="col-md-12 col-md-offset-4"> -->
          <h1>
            <strong>Company : {{company_details.Name}}</strong>
          </h1>
                <ol class="breadcrumb">
                       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                       <!-- <li><a href="#">Company list</a></li> -->
                     <li class="">Company list</li>
                     <li class="active">Create Ledger</li>
            </ol>
           
        <!-- </div> -->
      </section>

  <section class="content">
      <div class="callout callout-warning">
        <h4>Welcome!</h4>
        Welcome to predict books your personal AI powered business engine!
        <!-- <a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a> -->
      </div>

<div class="row">
      <div class="col-xs-12">
          <div class="box box-default">
          <div class="box-body">

      <a href="{% url 'company:list' %}" class="btn btn-success" role="button">Select Company </a>
              <a href="{% url 'company:create' %}" class="btn btn-warning" role="button">Create Company details</a>
              <a href="#" class="btn btn-danger" role="button">Delete Company</a>

        
        
        
        </div>
      
      </div>
    
    </div>

</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<style type="text/css">
					.table-bordered td, .table-bordered th{
                    border-color: #bfbfbf !important;
                    
                         }
				</style>
				<div class="box box-info">
					 <div class="box-header with-border">
        			
          				<h3 class="box-title"><b>Ledger Details</b></h3>
        
        			</div>
					<table class="table table-bordered">
						<tr>
							<td>
								<table class="table table-hover">
									<tr>
									<th><h4>Debit</h4></th>
									<th></th>
									<th></th>
									<th></th>
									<th class="text-center"><h2>{{ ledger1_details.name }}</h2></th>
									<th></th>
									
									<th></th>
									<th></th>
									<th></th>
									
									<th class="text-right"><h4>Credit</h4></th>
									</tr>
									<tr>
									<th><center>Date</center></th>
									<th><center></center></th>
									<th><center>Particulars</center></th>
									<th><center>JF</center></th>
									<th><center>Amount(Rs)</center></th>

									<th><center>Date</center></th>
									<th><center></center></th>
									<th><center>Particulars</center></th>
									<th><center>JF</center></th>
									<th><center>Amount(Rs)</center></th>
									</tr>

									<tr>
									<th><center>{{ ledger1_details.Creation_Date}}</center></th>
									<th><center>To</center></th>
									<th><center>Opening Balance</center></th>
									<th><center></center></th>
									<th><center>{{ ledger1_details.Opening_Balance}}</center></th>
									

									<th><center>-</center></th>
									<th><center>-</center></th>
									<th><center>-</center></th>

									<th><center>-</center></th>
									<th><center>-</center></th>
									
									</tr>										
								
									
									{% for journal in ledger1_details.Debitledgers.all %}
										

											
											<tr>
												
												<th><center>{{ journal.Date}}</center></th>
												<th><center>To</center></th>
												<th><center>{{ journal.To }}</center></th>
												<th><center>{{ journal.id }}</center></th>
												<th><center>{{journal.Debit}}</center></th>
												
												<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												
										
										
											</tr>
										
										
									{% endfor %}

									{% for journal in ledger1_details.Creditledgers.all %}
										

											
											<tr>
												
												<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												
												<th><center>{{ journal.Date}}</center></th>
												<th><center>By</center></th>
												<th><center>{{ journal.By }}</center></th>
												<th><center>{{ journal.id }}</center></th>
												<th><center>{{journal.Credit}}</center></th>
												
										
										
											</tr>
										
										
									{% endfor %}


											<tr>
							 					<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												<th><center></center></th>
												<th><center>range end date</center></th>
												<th><center>By</center></th>
												<th><center>Closing Balance</center></th>

												<th><center></center></th>
												<th><center>{{ledger1_details.Closing_Balance}}</center></th>
									
											</tr>
									
										
											<tr>
												<th><center></center></th>
												<th><center></center></th>
												<th><center>Total:</center></th>
												<th><center></center></th>
												
												<th><center>{{ journal_list|running_total|add:ledger1_details.Opening_Balance }}</center></th>
												
												<th><center>-</center></th>
												<th><center>-</center></th>
												<th><center>Total:</center></th>
												<th><center>-</center></th>
												<th><center>{{ running_total_credit }}</center></th>
											</tr>



											
									
									

									
										
								
								
									
									
										
									
								
								
								</table>
										
							</td>
						</tr>
					</table>
						

						<br>
					<div class="box-footer">
    					<p><a class='btn btn-warning' href="{% url 'accounting_double_entry:ledgerupdate' pk=ledger1_details.pk %}">Update Ledger</a> <a class='btn btn-danger pull-right' href="{% url 'accounting_double_entry:ledgerdelete' pk=ledger1_details.pk %}">Delete Ledger</a></p>

  					</div>


  					</div>

					</div>


				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}